@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  scroll-behavior: smooth;
  transition: 0.6s all;
}

.what_to_expect ul,
.key-topics ol {
  display: flex;
  flex-direction: column;
  @apply gap-1;
}

.what_to_expect li,
.key-topics ol li {
  display: inline;
  list-style-type: none;
  background: url(/check.svg) no-repeat left top;
  background-size: 16px;
  padding: 0 0 0 30px;
}